<div class="About">
  <div class="about-content">
    <div class="content row mt-3">
      <div class="left-content col-md-3">
        <h3>EĞİTİM</h3>
        <div class="left">
          <h6>Tokat Gaziosmanpaşa Üniversitesi</h6>
            <p>-Bilgisayar Mühendisliği</p>
            <p>2020 - 2024</p>
            <h6>Güneşli Sınav Koleji</h6>
            <p>2018 - 2019</p>
            <h6>Bahçelievler Türk Telekom Mesleki ve Teknik Anadolu Lisesi</h6>
            <p>-Bilişim Teknolojileri- Veri Tabanı</p>
            <p>2015 - 2018</p>
        </div>
        <hr>
        <h3>BECERİLER</h3>
        <div class="left">
          <ul>
            <li>İş Yönetimi</li>
            <li>Ekip Yönetimi</li>
            <li>Hızlı Kavrama</li>
          </ul>
        </div>
        <hr>
        <h3>EĞİTİM</h3>
        <div class="left">
          <ul>
            <li>İngilizce</li>
            <span>A2 Seviye</span>
          </ul>
        </div>
        <hr>
        <h3>HOBİLER</h3>
        <div class="left">
            <ul>
              <li>Seyahat</li>
              <li>Kendimi geliştirmek</li>
              <li>Kitap okumak</li>
            </ul>
        </div>
      </div>
      <div class="aciklama col pt-3 pb-5">
        <h3>HAKKIMDA</h3>
        <p style="font-size: 18px; font-weight: 400;">Junior Web Developer olarak, C#, SQL, .NET Core ve Angular gibi modern teknolojilerde deneyim sahibiyim. Kullanıcı dostu ve responsive web uygulamaları geliştirme konusunda yetkinim. Geliştirdiğim projelerde backend ve frontend entegrasyonuna odaklanarak, performanslı ve güvenli çözümler sunuyorum. Yeni teknolojilere meraklıyım ve kendimi sürekli geliştiriyorum. Hedefim, tam zamanlı bir pozisyonda kendimi daha da geliştirebileceğim bir ekipte çalışmak.</p>
        <hr>
        <div class="is-deneyimi row">
          <h3 class="mt-4">İŞ DENEYİMİ</h3>
          <div class="col-md-4 is1">
            <h5>BİLGİSAYAR MÜHENDİSİ</h5>
            <p>Senkron Yazılım-Staj</p>
            <p>07.2023- 08.2023</p>
            <p>İstanbul Davutpaşa Teknopark</p>
          </div>
          <div class="col">
            <p>Admin yönetimiyle yüklenen restoranlardan
              kullanıcıların yemek siparişi verebileceği ve
              sipariş durumunu kontrol edebileceği
              fullstack proje tamamladım. Bu projede
              Angular, .NET Core API ve Sql Server
              teknolojilerini kullandım.</p>
          </div>
        </div>

        <div class="is-deneyimi row">
          <div class="col-md-4 is1">
            <h5>BİLGİSAYAR MÜHENDİSİ</h5>
            <p>Senkron Yazılım-Staj</p>
            <p>07.2024 - 08.2024</p>
            <p>İstanbul Davutpaşa Teknopark</p>
          </div>
          <div class="col">
            <p>Kullanıcıların uçak bileti satın alabileceği full
              stack bir proje geliştirdim. Bu projede
              admin yönetimi ile site yönetimi
              sağlanabilir, kullanıcılar uçak biletlerini
              filtreleyerek satın alma işlemi
              gerçekleştirebilir.
              </p>
          </div>
        </div>
        <hr>
        <div class="sertifikalar">
          <h3>SERTİFİKALAR </h3>
          <ul>
            <li>.Net Core Web Api & Angular ile Proje Geliştirme Kursu - 2024</li>
            <li>SQL Server Eğitim Kursu - 2024</li>
          </ul>
        </div>
        <hr>
        <div class="yetenekler">
          <div class="row">
            <div class="col">
              <h4>FRONTEND</h4>
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>CSS Grid</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>Angular</li>
                <li>Bootstrap</li>
              </ul>
            </div>
            <div class="col">
              <h4>BACKEND</h4>
              <li>C#</li>
              <li>.NET Core</li>
              <li>Web API</li>
              <li>.NET Core API</li>
              <li>MVC</li>
              <li>Node.js</li>
              <li>OOP</li>
              <li>SQL Server</li>
              <li>Entity Framework</li>
              <li>Identity Framework</li>
              <li>JWT (JSON Web Token)</li>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
